:root {
    --base: #263238;
    --lite:  #FFF;
    --brand: #FF3D00;
    --size: 48px;
}

.load-section {
    width: 100%;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader {
    width : var(--size);
    height: var(--size);
    border-radius: 50%;
    display: inline-block;
    position: relative;
    border: 3px solid;
    border-color: var(--lite) var(--lite) transparent transparent;
    animation: rotation 1s linear infinite;

    &::after , &::before{
      content: '';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      margin: auto;
      border: 3px solid;
      border-color: transparent transparent var(--brand) var(--brand);
      width:  var(--size) - 8px;
      height:  var(--size) - 8px;
      border-radius: 50%;
      animation: rotationBack 0.5s linear infinite;
      transform-origin: center center;
    }
    &::before{
      width:  var(--size) - 16px;
      height:  var(--size) - 16px;
      border-color:var(--lite) var(--lite) transparent transparent;
        animation: rotation 1.5s linear infinite;
    }
  }