.loading{
    height: 100vh;
    width: 100%;
    z-index: 5;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #53AEE1;
}

.loading h3 {
    color: rgb(255, 255, 255);
    font-size: 3vw;
    position: relative;
    padding: 1vw 3vw;
}

.loading h3 span{
    color: #53AEE1;
    animation: lightmove 8s linear infinite;
    animation-delay: calc(0.2s * var(--i));
}

@keyframes lightmove {
    0%{
        opacity: 0;
        color: #53AEE1;
    }
    20%{
        opacity: 1;
        color: rgba(255, 255, 255, 0.8);
    }
    
    50%{
        opacity: 0;
        color: #53AEE1;
    }
    100%{
        opacity: 0;
        color: rgba(255, 255, 255, 0.8);
    }
}