* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
    font-size: 62.5%;
}

:root {
    /* --primary-color: #a70a0a;
    --secondary-color: #FFE8C5;
    --text-color: #FFA27F;
    --extra-usable1: #c9e699;
    --extra-usable2: #F2F6D0; */
    --primary-color: #690B22;
    --secondary-color: #F1E3D3;
    --text-color: #E07A5F;
    --extra-usable1: #FDF7F4;
    --extra-usable2: #F2F6D0;
}

body {
    background-color: var(--extra-usable);
}